
extends daily-head

mixin linkbutton(name)
	a(href='./cg/#{name}' id=name).button.is-block #{name}
	br

block content
	div.container.padded
		div.columns.is-centered.is-mobile
			div.column.is-narrow.has-text-centered
				h1(class='#{season}')= title
				h3#date
		div.columns.is-centered.is-mobile
			div.column.is-10-mobile.is-4-tablet.is-4-desktop.has-text-centered#buttonList
				+linkbutton('Morning')
				+linkbutton('Midday')
				+linkbutton('Evening')
				a(href='./cg/random').button 
					i.fa.fa-random
				
block scripts
	script(src='/js/date-fns.min.js')
	script(src='/js/cg-home-client.js')
	