
extends daily-head

block content
	div.modal
		div.modal-background
		div.modal-content
			div.box#modal-content
		button.modal-close
		
	div.container.padded
		div.columns.is-centered.is-mobile
			div.column.is-narrow.has-text-centered
				h1 Liturgy of the Hours
				h3#date
		div.columns.is-centered.is-mobile
			div.column.is-10-mobile.is-4-tablet.is-4-desktop#cache-status
				progress.progress( value="0" max="100" )
		div.columns.is-centered.is-mobile
			div.column.is-10-mobile.is-4-tablet.is-4-desktop.has-text-centered#buttonList
		div.columns.is-centered.is-mobile
			a#version(onclick="toggleVersion()") lite
			&nbsp;|&nbsp;
			a#about(onclick="showExplanation()") about
			br
			br
			br
			a.button.has-icon(onclick="configureNotifications()")
				i.fas.fa-bell
			br

block scripts
	script(src='/js/date-fns.min.js')
	script(src='/js/home-client.js')