{% extends "base.njk" %}

{% block body %}
  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div id="modal-content" class="box"></div>
    </div>
    <button class="modal-close"></button>
  </div>

  <div class="container padded">
    <div class="columns is-centered is-mobile">
      <div class="column is-narrow has-text-centered">
        <h1 class="{{ season | lower }}">Liturgy of the Hours</h1>
        <h3 id="date">{{ date }}</h3>
      </div>
    </div>

    <div class="columns is-centered is-mobile">
      <div id="cache-status" class="column is-10-mobile is-4-tablet is-4-desktop">
        <progress value="0" max="100" class="progress"></progress>
      </div>
    </div>

    <div class="columns is-centered is-mobile">
      <div id="buttonList" class="column is-10-mobile is-4-tablet is-4-desktop has-text-centered"></div>
    </div>

    <div class="has-text-centered is-mobile">
      <div class="site-controls">
        <a id="version" href="#" role="button" tabindex="0">lite</a>
        <span>|</span>
        <a id="about" href="#" role="button" tabindex="0">about</a>
        <span>|</span>
        <a id="notify" href="#" role="button" aria-label="Notifications" tabindex="0">
          <i class="fas fa-bell" aria-hidden="true"></i>
        </a>
      </div>
      <br>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/js/home.js"></script>
{% endblock %}
