//seasons.sass

/*seasons*/
$advent: #800080;
$christmas: #DAA520;
$easter: #DAA520;
$pentecost: #b30000;
$ordinary: #008000;
$lent: #800080;
$holyweek: #b30000;
$epiphany: #bfbfbf;

$dark: #606060;
$light: #fff;

.advent{
	color: 	$advent;
	
	.button, .circle{
		background-color: $advent;
		color: $light;
	}
	.ringring{
		border-color: $advent;
	}
}
.christmas{
	color: 	$christmas;
	
	.button, .circle{
		background-color: $christmas;
		color: $dark;
	}
	.ringring{
		border-color: $christmas;
	}
}
.easter{
	color: 	$easter;
	
	.button, .circle{
		background-color: $easter;
		color: $light;
	}
	.ringring{
		border-color: $easter;
	}
}
.pentecost{
	color: 	$pentecost;
	
	.button, .circle{
		background-color:$pentecost;
		color: $light;
	}
	.ringring{
		border-color: $pentecost;
	}
}
.ordinary{
	color: 	$ordinary;
	
	.button, .circle{
		background-color: $ordinary;
		color: $light;
	}
	.ringring{
		border-color: $ordinary;
	}
}
.lent{
	color: 	$lent;
	
	.button, .circle{
		background-color: $lent;
		color: $light;
	}
	.ringring{
		border-color: $lent;
	}
}
.holyweek{
	color: 	$holyweek;
	
	.button, .circle{
		background-color: $holyweek;
		color: $light;
	}
	.ringring{
		border-color: $holyweek;
	}
}
.epiphany{
	color: $epiphany;
	
	.button, .circle{
		background-color: $epiphany;
		color: $light;
	}
	.ringring{
		border-color: $epiphany;
	}
}
.epiphany, .button {
	background-color: $light;
}